h1= title
input(id='filename', type='text') 
input(id='locate', type='button', value='locate')
input(id='clearterm', type='button', value='clear') 
#content
  ul(class='tabs')
    li(id='nLocate')
      a(id='nLocate', class='selected') Locate
    li(id='map') 
      a(id='map') Map
  div(class='clear')
  #container
    #terminal

  
